@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Noto+Serif+TC:wght@500&display=swap');
body{
    background-color: whitesmoke;
}
.banner {
    background-color: red;
    width: 560px;
    height: auto;
    position: absolute;
    top: 189px;
    right: -42px;
    opacity: 85%;
    display: none;
    font-size: 42px;
    color: white;
    font-family: fantasy;
    text-align: center;
    padding-top: 14px;
    padding-bottom:14px;
}
.btn.bwhite{
    position: absolute;
    left: 539px;
    font-family: 'Noto Serif TC', serif;
}
.btn.bblack{
    position: absolute;
    left: 623px;
    font-family: 'Noto Serif TC', serif;
}
.btn.reload{
    position: absolute;
    left: -245px;
    top : 290px;
    font-family: 'Fjalla One' ,serif;
}
.btn{
    top: 210px;
    font-size: 28px;
}
.title{
    font-size: 28px;
    position: absolute;
    top:121.5px;
    height: 35px;
    width: 70px;
    text-align: center;
    font-family: 'Noto Serif TC', serif;
}
.title.bgrade{
    left: -164.5px;
}
.title.wgrade{
    left: -269.5px;
}
.grade{
    font-family: 'Fjalla One' ,serif;
    font-size: 14px;
    border: lightgray solid 3.5px;
    border-radius: 5%;
    top: 160px;
    font-size: 42px;
    line-height: 56px;
    text-align: center;
    width: 70px;
    height: 56px;
}
.grade.bgrade{
    position: absolute;
    left: -168px;
}
.grade.wgrade{
    position: absolute;
    left: -273px;
}
.AIgrade{
    font-size: 20px;
    position: absolute;
    top:-35px;
    left: -350px;
    height: 35px;
    width: auto;
    padding: 5px;
    text-align: center;
    font-family: 'Noto Serif TC', serif;
    border: lightgray 3px solid;
    border-radius: 5%;
}
#container{
    background-color: black;
    height: 29.26em;
    width: 29.26em;
    margin: 0 auto;
    margin-top: 10vh;
    position: relative;
}
div#container .square: nth-of-type(8n+1) {
    clear:both;
}

.square {
    float: left;
    height: 3.5em;
    width: 3.5em;
    margin-left: 0.14em;
    margin-top: 0.14em;
}

.square s0{
/*    do nothing.*/
}

.square .s1{
    padding: 0px;
    margin: 3.5px;
    width: 49px;
    height: 49px;
    background-image: radial-gradient(#333333 30%, black 70%);
    border-radius: 100%;
}

.square .s2{
    padding: 0px;
    margin: 2.8px;
    width: 49px;
    height: 49px;
    background-image: radial-gradient(white 35%, #e3e3e3 65%);
    border-radius: 100%;
    border: solid 0.14px black;
}

#active:hover{
    background-color: saddlebrown!important;
}

#turn{
    position: absolute;
    left: 539px;
    font-size: 35px;
    width: 210px;
    top: 70px;
    font-family: 'Fjalla One' ,serif;
    display: none;
}
#choose{
    position: absolute;
    left: 525px;
    font-size: 28px;
    width: 210px;
    top: 140px;
    font-family: 'Fjalla One' ,serif;
}